/* Universal Reset Style */
:root{
    font-size: 62.5%;
}
*{
    margin: 0px;
    padding:0px;

}

/* Common Shared Style */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    padding:5rem 0rem;
}
.logo{
color: #181818;
font-size: 4.5rem;
font-style: normal;
font-weight: 800;
}
.logo-r-letter{
    color: #FD6E0A;
}
main{
    margin: 0 auto;
}
.menu{
    display: flex;
    gap: 5rem;
    align-items: center;

}
.menu li{
    list-style: none;
    color: #474747;
    font-size: 2rem;
    font-weight: 400;

}
.btn-primary{
color: #FFF;
font-size: 2rem;
font-weight: 700;
background-color: #FD6E0A;
padding: 1.8rem 3.6rem;
border-radius: 0.5rem;
border-style: none;
cursor: pointer;
}