/* Universal Reset Style */
:root{
    font-size: 62.5%;
}
*{
    margin: 0px;
    padding:0px;

}

/* Common Shared Style */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}
.btn-primary{
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    background-color: #FD6E0A;
    padding: 1.8rem 3.6rem;
    border-radius: 0.5rem;
    border-style: none;
    cursor: pointer;
    }
/* Header nav styles */
.nav-container{
    display: flex;
    justify-content: space-between;
   
    padding:5rem 6rem;
}
.logo{
color: #181818;
font-size: 4.5rem;
font-style: normal;
font-weight: 800;
}
.logo-r-letter{
    color: #FD6E0A;
}
main{
    margin: 0 auto;
}
.menu{
    display: flex;
    gap: 5rem;
    align-items: center;

}
.menu li{
    list-style: none;
    color: #474747;
    font-size: 2rem;
    font-weight: 400;

}
.menu a{
    text-decoration: none;
    color: #474747;
}

.header{
    background-color: #FFF8F3;
    background: url('../images/header_bg.png') no-repeat bottom right ,
    url('../images/developer.png') no-repeat bottom left ;
    padding-left: 7.5rem;
  
   
}
/* Hero-Banner Section Styles */
.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.hero-left-content{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 40%;
}
.hero-left-content h1{
font-size: 8.5rem;
font-weight: 700;
}
.hero-left-content h3{
color: #474747;
font-size: 4.5rem;
font-weight: 600;
}
.hero-left-content p{
    color:  #757575;

font-size: 1.8rem;

font-weight: 400;

}
.hero-right-content{
    width: 40%;
}
.cv-buttons{
   display: flex;
   gap:3rem;
}